{% load static %}

<index>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    </head>

    <body>
        <img src="{% static 'allidrett.jpg' %}" />
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Påmelding vellykket
                    </h1>
                    <div>
                        Takk for at du har meldt <b>{{ registration.name }}</b> på allidrett i regi av Nidelv Idrettslag. 
                        Dere er påmeldt partiet som går hver <b>{{ registration.party.day }} fra 
                        {{ registration.party.start_time | date:"G:i" }} til {{ registration.party.end_time |date:"G:i" }}</b>. 
                        En kvittering er sendt til deg på epost.
                    </div>
                </div>
            </div>
        </div>
    </body>
</index>